/* Empty. Add your own CSS if you like */
.wldefault { background-color:#111111;color:#DDDDCC; }
.wlcenter { margin-left:auto;margin-right:auto;text-align:center;}
.wlresenha { margin-top:16px;color:#A18300;}
.wlposter { width:70%;margin-bottom:16px;margin-top:16px;}
.asdasd {width: 64px; height: 64px; }
.wlitembusca {background-color:#111111; }